/*****************************************************************
    **
    **  Task - 9 /Style.css
    **  ---
    **
*****************************************************************/
body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: grey;
    font-size: 16px;
}

body a {
    text-decoration: none;
}

/******************************************************************
                    Main wrapper.
******************************************************************/
#wrapper {
    margin: 0 auto;
}

.main {
    margin: 0;
}
/******************************************************************
                    Header Background.
******************************************************************/
.bg {
    height: 746px;
    background: url('../images/header.png') no-repeat center center fixed;
    /*background: url('../images/background2.jpg') no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}